<div>
    <!--Title-->
    <div class="typing-grid">
        <div class="typing-demo">
          Data Analysis
        </div>
    </div>

    <!--Computer Systems Section-->
    <div class="white-section flex-parent"> 
        <div class="flex-child flex-parent2">
            <div><p>COVID FLIGHT <br> PATTERNS</p></div>
            <div flex-parent3>
                <a href="https://public.tableau.com/app/profile/ana.baide/viz/COVID-19FlightDepartures/Dashboard1?publish=yes">Visualization</a>
                <a href="https://www.nvolveme.org/blog/covid-19-flight-departures-and-states-covid-19-restrictions-by-afia-grace-harris-and-ana-baide">Write Up</a>
            </div>
        </div>
        <div class="flex-child flex-parent2">
            <div><p>MD STATE COLLEGES <br> DEMOGRAPHICS</p></div>
            <div><a href="https://github.com/anasbaide/Applied-Probability-and-Statistics/blob/main/MDState-Student-Body-Analysis.Rmd">Documentation</a></div>
        </div>
    </div>
</div>
