<div class="col-back">
    <!--Title-->
    <div class="typing-grid">
        <div class="typing-demo">
          Courses
        </div>
    </div>

    <div class="center-grid pad"><p>hover each image!</p></div>

    <!--Courses-->
    <div class='parent grid-parent'>
        <div class='line-flex'>
            <div class="card-child child">
                <div class="card-grape">
                    <div class="card__content">
                    <h3 class="card__title">Object Oriented Programming</h3>
                    <p class="card__description">Emphasizing writing larger programs and designing and implementing classical abstract data types such as list, stack, queue, binary search tree, graph, priority queue, hash table. Topics include string processing and recursion; data abstraction, encapsulation, and structure implementation; object-oriented program design; specification, implementation and application of these traditional ADTs. The course also emphasizes dynamic memory allocation, search and sorting algorithms, and introduces algorithm complexity.</p>
                    <a href="https://github.com/anasbaide/Object-Oriented-Programming" class="button">Course Projects</a>
                    <p class="card__description">Languages: C++, Java</p>
                    </div>
                </div>
            </div>
            <div class="card-child child">
                <div class="card-chameleon">
                    <div class="card__content">
                    <h3 class="card__title">Computer Systems</h3>
                    <p class="card__description">Introduction to the interaction between user programs and the operating system/hardware. Major topics include C programming, introductory systems programming, and assembly language. Other concepts covered include UNIX, machine data representation, thread management, optimization, and virtual memory. Programming is done in the Linux Environment.</p>
                    <a href="https://github.com/anasbaide/Computer-Systems" class="button">Course Projects</a>
                    <p class="card__description">Languages: C, Assembly-MIPS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='line-flex'>
            <div class="card-child child">
                <div class="card-fish">
                    <div class="card__content">
                    <h3 class="card__title">Programming Languages</h3>
                    <p class="card__description">A study of programming languages, including their syntax, semantics, and implementation. Several different models of languages are discussed, including dynamic, scripting (e.g., Ruby, Python) functional (e.g., OCaml, Haskell, Scheme), and memory safe systems programming (e.g., Rust). Explores language features such as formal syntax, scoping and binding of variables, higher-order programming, typing, and type polymorphism. Introduces finite automata, context free grammar, parsing, lambda calculus, and basics of security attacks and software security.</p>
                    <a href="https://github.com/anasbaide/Programming-Languages" class="button">Course Projects</a>
                    <p class="card__description">Languages: Ruby, Ocaml, Rust</p>
                    </div>
                </div>
            </div>
            <div class="card-child child">
                <div class="card-orange">
                    <div class="card__content">
                    <h3 class="card__title">Applied Probability and Statistics</h3>
                    <p class="card__description">An introductory course to probability, the mathematical theory of randomness, and to statistics, the mathematical science of data analysis and analysis in the presence of uncertainty. Applications of statistics and probability to real world problems are also presented. This course utilizes R-Studio and R extensively.</p>
                    <a href="https://github.com/anasbaide/Applied-Probability-and-Statistics" class="button">Course Projects</a>
                    <p class="card__description">Language: R</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='line-flex'>
            <div class="card-child child">
                <div class="card-butterfly">
                    <div class="card__content">
                    <h3 class="card__title">Discrete Structures</h3>
                    <p class="card__description">Fundamental mathematical concepts related to computer science, including finite and infinite sets, relations, functions, and propositional logic. Introduction to other techniques, modeling and solving problems in computer science. Introduction to permutations, combinations, graphs, and trees with selected applications.</p>
                    </div>
                </div>
            </div>
            <div class="card-child child">
                <div class="card-avocado">
                    <div class="card__content">
                    <h3 class="card__title">Algorithms</h3>
                    <p class="card__description">A systematic study of the complexity of some elementary algorithms related to sorting, graphs and trees, and combinatorics. Algorithms are analyzed using mathematical techniques to solve recurrences and summations.</p>
                    <p class="card__description">Language: Python</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='line-flex'>
            <div class="card-child child">
                <div class="card-berry">
                    <div class="card__content">
                    <h3 class="card__title">Fall22: Database Design</h3>
                    <p class="card__description">Students are introduced to database systems and motivates the database approach as a mechanism for modeling the real world. An in-depth coverage of the relational model, logical database design, query languages, and other database concepts including query optimization, concurrency control; transaction management, and log based crash recovery. Distributed and Web database architectures are also discussed.</p>
                    <p class="card__description">Language: Python</p>
                    </div>
                </div>
            </div>
            <div class="card-child child">
                <div class="card-tiger">
                    <div class="card__content">
                    <h3 class="card__title">Fall22: Advanced Data Structures</h3>
                    <p class="card__description">Description, properties, and storage allocation functions of data structures including balanced binary trees, B-Trees, hash tables, skiplists, tries, KD-Trees and Quadtrees. Algorithms for manipulating structures. Applications from areas such as String Processing, Computer Graphics, Information Retrieval, Computer Networks, Computer Vision, and Operating Systems.</p>
                    <p class="card__description">Languages: Python, Java</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

