.child {
  padding: 2rem;
}

.grid-parent {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.grid-child{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.child{
  padding-right: 70px;
  padding-right: 70px;
}

/*Buttons*/
.button{
  display: inline-block;
  width: 270px;
  text-decoration: none;
  font-family: monospace;
  font-size: 25px;
  color: black;
  padding: 20px 50px;
  border: 3px solid black;
  position: relative;
}

.button::before,
.button::after{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: all .5s ease-in;
}

.button::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.button::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after{
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

/*Typing Title*/
.typing-grid {
  height: 12em; 
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 8ch;
  animation: typing 1s steps(8), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  border-right-color: #730071;
  font-family: monospace;
  font-size: 5em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
