<div>
    <!--Title-->
    <div class="typing-grid">
        <div class="typing-demo">
          Projects
        </div>
    </div>

    <!--Buttons-->
    <div style="text-align:center" class='grid-parent'>
        <div class="grid-child">
            <div class='child'><a href="/course-projects" class="button">Course Projects</a></div>
            <div class='child'><a href="/data-projects" class="button">Data Analysis</a></div>
        </div>
        <div class="grid-child">
            <div class='child'><a href="/website-projects" class="button">Websites</a></div>
            <div class='child'><a href="/app-projects" class="button">Mental Health App</a></div>
        </div>
        <div class="grid-child">
            <div class='child'><a href="/intranet-project" class="button">Org Intranet</a></div>
            <div class='child'><a href="/in-progress" class="button">Other Projects</a></div>
        </div>
    </div>
</div>
