<div style="background-color: #fff;">
    <!--Title-->
    <div class="typing-grid">
        <div class="typing-demo">
          Contact Me
        </div>
    </div>

    <!--Social Buttons-->
    <div class='parent divider-grid'>
        <div class="icons">
            <a href="https://www.linkedin.com/in/anasofiabaide/" class="icon icon--linkedin">
              <i class="ri-linkedin-line"></i>
            </a>
            <a href="https://github.com/anasbaide" class="icon icon--github">
              <i class="ri-github-line"></i>
            </a>
            <a href="mailto:anabaide@outlook.com" class="icon icon--gmail">
                <i class="ri-mail-line"></i>
            </a>
            <a href="https://twitter.com/anasbaide" class="icon icon--twitter">
                <i class="ri-twitter-line"></i>
            </a>
          </div>
    </div>

</div>
