<div>
    <!--Title-->
    <div class="typing-grid">
        <div class="typing-demo">
          Org Intranet SharePoint
        </div>
    </div>

    <!--Information Box-->
    <div class="white-section flex-parent"> 
        <div class="flex-child">
            <div class="flex-parent2">
                <p class="tags" style="background-color: #FF4000;">SharePoint</p>
                <p class="tags" style="background-color: #17BEBB;">MS365 Business Admin</p>
                <p class="tags" style="background-color: #730071;">Project Charter</p>
                <p class="tags" style="background-color: #F0C808;">Figma</p>
                <p class="tags" style="background-color: #FF4000;">Teams</p>
            </div>
            <p class="title">NVOLVE SUMMER 2022 INTERN</p>
            <p>This past summer, I was an intern at Nvolve Org, a 501(c)(3) non-profit organization dedicated to increasing the participation of women in technology, engineering, life sciences, and health careers by overcoming gender and socioeconomic barriers. I attended a weekly meeting with my supervisor to give reports regarding website updates, traffic analytics, and SharePoint Intranet project updates. </p>
            <p class="title">WEBSITE DEVELOPMENT PROCESS</p>
            <p>The organization wanted to update some of its website pages and change its overall aesthetic. I met with my supervisor and presented some mockups I created in Figma. Once approved, I created the graphics with Procreate and Adobe Illustrator. Finally, I made the changes and supervised the website traffic analytics. After the change, we observed that in 1 month, the website's visits increased by 200%, and the bounce rate dropped from 71% to 45%. </p>
            <p class="title">SHARE POINT DEVELOPMENT PROCESS</p>
            <p>Nvolve Org needs to share a lot of information with different organization members. So they tasked me with creating a SharePoint Intranet to make this process of spreading news easier. I first investigated with was the best way to create it and what information I was going to need. Afterward, my supervisor and organization founder meet with me to create a requirements document and project charter. With that information, I made a mockup from approval. Finally, I started SharePoint through MS Admin Portal and had a testing week.</p>
        </div>
    </div>
</div>
