<div>
  <!--Title-->
  <div class="typing-grid">
      <div class="typing-demo">Languages</div>
  </div>

  <div class="skills-wrapper divider-grid">
    <div class="skill">
      <div class="content">
        <span>+5 years</span><span>HTML/CSS/JS</span>
      </div>
    </div>
    <div class="skill">
      <div class="content">
        <span>+4 years</span><span>C</span>
      </div>
    </div>
    <div class="skill">
      <div class="content">
        <span>+3 years</span><span>C++/Java</span>
      </div>
    </div>
    <div class="skill">
      <div class="content">
        <span>+1 year</span><span>Tableau/R</span>
      </div>
    </div>
    <div class="skill">
      <div class="content">
        <span>1 year</span><span>Ruby/Ocaml</span><span>Python</span>
      </div>
    </div>
  </div>

  <!--
  <div class="divider-grid">
    <section class="bar-graph bar-graph-horizontal bar-graph-one">
      <div class="bar-one">
        <span class="year">HTML</span>
        <div class="bar" data-percentage="+5 years"></div>
      </div>
      <div class="bar-one">
        <span class="year">CSS/JS</span>
        <div class="bar" data-percentage="+5 years"></div>
      </div>
      <div class="bar-two">
        <span class="year">C</span>
        <div class="bar" data-percentage="+4 years"></div>
      </div>
      <div class="bar-three">
        <span class="year">C++</span>
        <div class="bar" data-percentage="+3 years"></div>
      </div>
      <div class="bar-three">
          <span class="year">Java</span>
          <div class="bar" data-percentage="+3 years"></div>
        </div>
        <div class="bar-four">
          <span class="year">MIPS</span>
          <div class="bar" data-percentage="+1 year"></div>
        </div>
        <div class="bar-four">
          <span class="year">R</span>
          <div class="bar" data-percentage="+1 year"></div>
        </div>
        <div class="bar-five">
          <span class="year">Ruby</span>
          <div class="bar" data-percentage="<1 year"></div>
        </div>
        <div class="bar-five">
          <span class="year">Ocaml</span>
          <div class="bar" data-percentage="<1 year"></div>
        </div>
        <div class="bar-five">
          <span class="year">Python</span>
          <div class="bar" data-percentage="<1 year"></div>
        </div>
    </section>
  </div>
  -->
</div>
