<div>
    <!-- Hello World Text 
    <div class="typing-grid">
        <div class="typing-demo">
          Hello World, I'm Ana.
        </div>
    </div> -->


    <!-- New About Me -->
    <div id="aboutme" class='center-grid grid-parent'>
        <div class="card-child">
            <img class="portrait" src="/assets/portrait.png" alt="portrait">
        </div>
        <div id="foo" class="text-child">
            <div class="typing-grid">
                <div class="typing-demo">
                  Hello World, I'm Ana.
                </div>
            </div>
            <h1 class="title">
                A
                <div class="rotate-words">
                  <span style="--d: 0s">computer science major</span>
                  <span style="--d: 3s">programmer</span>
                  <span style="--d: 6s">web developer</span>
                </div> <br>
                looking for a back-end internship.
            </h1>
        </div>
    </div> 

    <!-- Scroll Down Animation -->
    <div id="div1" class="center-grid pad" style="visibility: hidden;">
        <p>SCROLL DOWN</p>
        <span class="mouse">
            <span id="div2" class="mouse-wheel" style="background-color: black;"></span>
        </span>
    </div>  

</div>

<app-languages></app-languages>
<app-projects id="projects"></app-projects>
<app-courses id="courses"></app-courses>
<app-contact id="contact"></app-contact>

