<div>
    <!--Title-->
    <div class="typing-grid">
        <div class="typing-demo">
          Course Projects
        </div>
    </div>

    <!--Object Oriented Programming Section-->
    <div class="black-section flex-parent"> 
        <div class="flex-child git">
            <a href="https://github.com/anasbaide/Object-Oriented-Programming" class="icon icon--github">
                <i class="ri-github-line"></i>
            </a>
        </div>
        <div class="flex-child text">
                <p class="c-title">Object Oriented <br> Programming</p>
                <div class="flex-parent2">
                    <p class="tags" style="background-color: #FF4000;">UML Diagrams</p>
                    <p class="tags" style="background-color: #17BEBB;">C++</p>
                    <p class="tags" style="background-color: #730071;">Java</p>
                    <p class="tags" style="background-color: #F0C808;">Visual Studio</p>
                </div>
        </div>
    </div>

        <!--Computer Systems Section-->
        <div class="white-section flex-parent"> 
            <div class="flex-child text">
                <p class="c-title-w">Computer <br> Systems</p>
                <div class="flex-parent2">
                    <p class="tags" style="background-color: #FF4000;">C</p>
                    <p class="tags" style="background-color: #17BEBB;">Shell</p>
                    <p class="tags" style="background-color: #730071;">Linux</p>
                    <p class="tags" style="background-color: #F0C808;">Angular</p>
                </div>
            </div>
            <div class="flex-child git2">
                <a href="https://github.com/anasbaide/Computer-Systems" class="icon black-icon icon--github">
                    <i class="ri-github-line"></i>
                </a>
            </div>
        </div>


    <!--Programming Languages Section-->
    <div class="black-section flex-parent"> 
        <div class="flex-child git">
            <a href="https://github.com/anasbaide/Programming-Languages" class="icon icon--github">
                <i class="ri-github-line"></i>
            </a>
        </div>
        <div class="flex-child text">
                <p class="c-title">Programming <br>Languages </p>
                <div class="flex-parent2">
                    <p class="tags" style="background-color: #FF4000;">Ruby</p>
                    <p class="tags" style="background-color: #17BEBB;">Ocaml</p>
                    <p class="tags" style="background-color: #730071;">Rust</p>
                    <p class="tags" style="background-color: #F0C808;">VS Code</p>
                </div>
        </div>
    </div>

        <!--Applied Prob and Stats Section-->
        <div class="white-section flex-parent"> 
            <div class="flex-child text">
                <p class="c-title-w">Applied Probability <br>and Statistics</p>
                <div class="flex-parent2">
                    <p class="tags" style="background-color: #FF4000;">R</p>
                    <p class="tags" style="background-color: #17BEBB;">R Studio</p>
                    <p class="tags" style="background-color: #730071;">Git</p>
                    <p class="tags" style="background-color: #F0C808;">Python</p>
                </div>
            </div>
            <div class="flex-child git2">
                <a href="https://github.com/anasbaide/Applied-Probability-and-Statistics" class="icon black-icon icon--github">
                    <i class="ri-github-line"></i>
                </a>
            </div>
        </div>


</div>
