<div>
    <!--Title-->
    <div class="typing-grid">
        <div class="typing-demo">
          Websites
        </div>
    </div>

    <!--Personal Portafolio-->
    <div class="white-section flex-parent"> 
        <div class="flex-child text">
            <p class="c-title-w">Personal <br> Portafolio</p>
            <div class="flex-parent2">
                <p class="tags" style="background-color: #FF4000;">Angular</p>
                <p class="tags" style="background-color: #17BEBB;">TypeScript</p>
                <p class="tags" style="background-color: #730071;">HTML/CSS/JavaScript</p>
                <p class="tags" style="background-color: #F0C808;">Routing</p>
            </div>
            <div>
                <a href="https://github.com/anasbaide/anasbaide.github.io" class="icon black-icon icon--github">
                    <i class="ri-code-s-slash-line"></i>
                </a>
                <a href="https://github.com/anasbaide/anasbaide.github.io" class="icon black-icon icon--github">
                    <i class="ri-link"></i>
                </a>
            </div>
        </div>
        <div class="flex-child">
            <img class="black-border" src="/assets/ppweb.png" alt="personalweb">
        </div>
    </div>

    <!--Construction Website-->
    <div class="black-section flex-parent"> 
        <div class="flex-child">
            <img class="white-border"src="/assets/ingadeweb.png" alt="ingadeweb">
        </div>
        <div class="flex-child text">
                <p class="c-title">Construction Co.<br>Website </p>
                <div class="flex-parent2">
                    <p class="tags" style="background-color: #FF4000;">Figma</p>
                    <p class="tags" style="background-color: #17BEBB;">Wix</p>
                    <p class="tags" style="background-color: #730071;">UX/UI</p>
                    <p class="tags" style="background-color: #F0C808;">Adobe Illustrator</p>
                </div>
                <div>
                    <a href="https://www.ingade.net/" class="icon white-icon icon--github">
                        <i class="ri-link"></i>
                    </a>
                </div>
        </div>
    </div>

    <!--Non Profit Website-->
    <div class="white-section flex-parent"> 
        <div class="flex-child text">
            <p class="c-title-w">Non Profit <br>Website</p>
            <div class="flex-parent2">
                <p class="tags" style="background-color: #FF4000;">Analytics</p>
                <p class="tags" style="background-color: #17BEBB;">SquareSpace</p>
                <p class="tags" style="background-color: #730071;">Webmaster</p>
                <p class="tags" style="background-color: #F0C808;">MailChimp</p>
            </div>
            <div>
                <a href="https://www.nvolveme.org/" class="icon black-icon icon--github">
                    <i class="ri-link"></i>
                </a>
            </div>
        </div>
        <div class="flex-child">
            <img class="black-border" src="/assets/nvolveweb.png" alt="nvolveweb">
        </div>
    </div>

    <!--Professional Network-->
    <div class="black-section flex-parent"> 
        <div class="flex-child">
            <img class="white-border" src="/assets/slweb.png" alt="slweb">
        </div>
        <div class="flex-child text">
                <p class="c-title">Professional <br>Network </p>
                <div class="flex-parent2">
                    <p class="tags" style="background-color: #FF4000;">Mock-up</p>
                    <p class="tags" style="background-color: #17BEBB;">Hackathon</p>
                    <p class="tags" style="background-color: #730071;">HTML/CSS</p>
                    <p class="tags" style="background-color: #F0C808;">Chat Box</p>
                </div>
                <div>
                    <a href="https://github.com/anasbaide/Technica2020" class="icon white-icon icon--github">
                        <i class="ri-code-s-slash-line"></i>
                    </a>
                    <a href="https://anabaide.github.io/startlinee.github.io/" class="icon white-icon icon--github">
                        <i class="ri-link"></i>
                    </a>
                </div>
        </div>
    </div>

    <!--Educational Site-->
    <div class="white-section flex-parent"> 
        <div class="flex-child text">
            <p class="c-title-w">Educational <br> Website</p>
            <div class="flex-parent2">
                <p class="tags" style="background-color: #FF4000;">HTML/CSS</p>
                <p class="tags" style="background-color: #17BEBB;">Bootstrap</p>
                <p class="tags" style="background-color: #730071;">Pitch Competition</p>
            </div>
            <div>
                <a href="https://github.com/anasbaide/eduplus.github.io" class="icon black-icon icon--github">
                    <i class="ri-code-s-slash-line"></i>
                </a>
                <a href="https://anasbaide.github.io/eduplus.github.io/" class="icon black-icon icon--github">
                    <i class="ri-link"></i>
                </a>
            </div>
        </div>
        <div class="flex-child">
            <img class="black-border" src="/assets/eduweb.png" alt="eduweb">
        </div>
    </div>

</div>
