<div>
    <!--Title-->
    <div class="typing-grid">
        <div class="typing-demo">
          Mental Health App
        </div>
    </div>

    <!--Information Box-->
    <div class="white-section flex-parent"> 
        <div class="flex-child">
            <div class="flex-parent2">
                <p class="tags" style="background-color: #FF4000;">FlutterFlow</p>
                <p class="tags" style="background-color: #17BEBB;">Firebase</p>
                <p class="tags" style="background-color: #730071;">Database Design</p>
                <p class="tags" style="background-color: #F0C808;">Wireframes</p>
                <p class="tags" style="background-color: #FF4000;">BigQuery</p>
                <p class="tags" style="background-color: #17BEBB;">NoSQL</p>
                <p class="tags" style="background-color: #730071;">Google Analytics</p>
            </div>
            <div class="flex-parent3">
                <div>
                    <p class="title">UX/UI TEAM LEAD</p>
                    <p>I am the lead of the UX/UI Team in this project. In this role, I was in charge of investigating what tools to use, app development, and database design. I attended weekly meetings for six months in which I presented progress reports to other teams and reported to our supervisors. In addition, we had team weekly meetings in which we discussed and worked together.</p>
                    <p class="title">DEVELOPMENT PROCESS</p>
                    <p>The application MoodZen was developed in FlutterFlow, but before doing so, we created a mockup through Figma so that it could get approved by the other teams. Once set, we used Dart code plug-in functions to perform basic calculations needed for analytics. Afterward, I made a NoSQL database to store user information and other important data. All this information is stored in the Firebase Cloud, linked to BigQuery and Google Analytics to create data visualizations for research purposes.</p>
                    <p class="title">DEMOS</p>
                    <p>This application will be available to the public in October 2022 on Apple AppStore and Google PlayStore. Unfortunately, we cannot share the link to the prototype at this time, but feel free to contact me for demonstrations.</p>
                </div>
                <div>
                    <img src="/assets/moodzen.png" alt="moodzen">
                </div>
            </div>
        </div>
    </div>
</div>
